body{
 display: flex;
 flex-direction: column;
 justify-content: center;   
 align-items: center;
}
.square{
    outline: solid 1px #3939394e;
    height: 2em;
    width: 2em;
}
#gridContainer{
    display: flex;
    flex-wrap: wrap;
    width: 32em;
    height: 32em;
    outline: solid 2px rgb(0, 174, 255);
}