body{
 display: flex;
 flex-direction: column;
 justify-content: center;   
 align-items: center;
}
.square{
    outline: solid 1px #3939394e;
    box-sizing: border-box;
    flex: 1 0 calc(100% / 16);
    height: calc(100% / 16);
}
#gridContainer{
    display: flex;
    flex-wrap: wrap;
    width: 32em;
    height: 32em;
    outline: solid 2px rgb(0, 174, 255);
}
.hovered{
    background-color: #000000;
}